<a href="https://colab.research.google.com/github/avocadopelvis/mental-load/blob/main/mental_load_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [70]:
#final
final = []

In [38]:
folders = ["004", "005", "008", "010", "011", "012", "013", "014", "015", "016", "017", "018", "019", "020", "021", "022", "023", "024", "025"]

# iterate through the folder of each subject
for folder in folders:
  # LOAD DATA
  data = pd.read_csv(f"/content/drive/MyDrive/MENTAL-LOAD-DATASET/{folder}/inf_ecg.csv")
  rest_data = pd.read_csv(f"/content/drive/MyDrive/MENTAL-LOAD-DATASET/{folder}/inf_resting.csv") 

  # drop columns in data
  data = data.drop(["Trial 2:2back", "Trial 4:2back"], axis = 1)

  # get resting ecg column
  rest_data = rest_data["Resting_ECG"]

  # convert it into a numpy array
  rest_data = rest_data.to_numpy()

  # insert resting ecg column to 0th position
  data.insert(0, "Resting_ECG", rest_data)

21

       Resting_ECG  Trial 1:0back  Trial 3:3back  Trial 5:3back  Trial 6:0back
0           -0.105         -0.084          0.213          0.122          0.207
1           -0.158         -0.066          0.213          0.282          0.203
2           -0.171         -0.038          0.224          0.428          0.210
3           -0.165         -0.038          0.220          0.451          0.215
4           -0.131         -0.061          0.223          0.318          0.220
...            ...            ...            ...            ...            ...
76795        0.078         -0.055         -0.116         -0.082          0.220
76796        0.074         -0.063         -0.132         -0.085          0.219
76797        0.070         -0.068         -0.138         -0.083          0.225
76798        0.063         -0.073         -0.132         -0.079          0.218
76799        0.061         -0.072         -0.126         -0.081          0.214

[76800 rows x 5 columns]

In [73]:
#iterate through data's columns
for col in data.columns:
  #take a single column
  data_col = data[col]

  # convert column (df) to numpy array
  data_arr = data_col.to_numpy()

  # FILTER THE SIGNAL
  from scipy.signal import butter, lfilter

  def bandpass(lowcut, highcut, order=5):
      nyq = 0.5 * fs
      low = lowcut / nyq
      high = highcut / nyq
      b, a = butter(order, [low, high], btype='band')
      return b, a

  fs = 256
  lowcut = 0.1
  highcut = 45
  b,a = bandpass(lowcut,highcut)
  ecg_raw = data_arr
  ecg_filter = lfilter(b,a,ecg_raw)

  # BREAK THE SIGNAL
  m = 0
  n = 3840

  while n < 76801:
    row = ecg_filter[m:n]
    #append to final
    final.append(row)
    m += 3840
    n += 3840

# load final as a df
df = pd.DataFrame(final)

# assign labels
df = df.assign(label = 20*[0] + 20*[1] + 20*[2] + 20*[2] + 20*[1])
df

In [83]:
# convert df to csv
df.to_csv("/content/drive/MyDrive/MENTAL-LOAD-DATASET/final.csv")

# TEST

In [82]:
# [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
# cols = ["Resting_ECG", "Trial 1:0back", "Trial 3:3back", "Trial 5:3back", "Trial 6:0back"]

In [87]:
test = pd.read_csv(f"/content/drive/MyDrive/MENTAL-LOAD-DATASET/{x}/inf_resting.csv")

# get resting ecg column
test = test["Resting_ECG"]

# convert it into a numpy array
test_arr = test.to_numpy()

final1 = []

In [88]:
# FILTER THE SIGNAL
from scipy.signal import butter, lfilter

def bandpass(lowcut, highcut, order=5):
    nyq = 0.5 * fs
    low = lowcut / nyq
    high = highcut / nyq
    b, a = butter(order, [low, high], btype='band')
    return b, a

fs = 256
lowcut = 0.1
highcut = 45
b,a = bandpass(lowcut,highcut)
ecg_raw = test_arr
ecg_filter = lfilter(b,a,ecg_raw)

# BREAK THE SIGNAL
m = 0
n = 3840

while n < 76801:
  row = ecg_filter[m:n]
  #append to final
  final1.append(row)
  m += 3840
  n += 3840